#divhead {
    width: 100%;
}
.headtable td {
    padding: 10px 50px 25px 135px;
}
#divmenu {
    width: 100%;
    background-color: black;
    text-align: center;
    cursor: pointer;
}
#divcontent {
    width: 900px;
    background-color: #3F3D56;
    border: 1px solid #EEEDDB;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
    color: cornflowerblue;
    height: 300px;
    text-align: center;
}
#divfoot {
    width: 100%;
    clear: both;
    background-color: #efefef;
    margin-top: 15px;
    position: relative;
    bottom: 2px;
}
#divmenu a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color:  #3F3D56;
    padding: 0px 10px ;
}
#divmenu a:link {
    font-weight: bold;
}
#divmenu a:hover {
    color: white; /*颜色变换*/
}
#divsearch {
    background-color: #3F3D56;
    text-align: right;
}
#right_td{
    position: absolute;
    top: 2px;
    right: 2px;
}
#box_autoplay{
    width: 900px;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.img{
    width: 900px;
    height: 500px;
    position: absolute;
}
.img li{
    list-style: none;
}
.img img{
    float: left;
}
#box_autoplay img{
    width: 900px;
    height: 500px;
    border-radius: 2px;

}
#rt img{
    width: 400px;
    height: 200px;
}
#rt {
    float: right;
    width: 400px;
}
#lt {
    float: left;
    width: 400px;
}
#divcontent p{
    font-style:italic;
    font-size:20px;
}

/*圆点承载部分的设计*/
.num{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0;
    background-color: #EEEDDB;
}
/*圆点设计*/
.num li{
    width: 10px;
    height: 10px;
    background: #3F3D56;
    border-radius: 100%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
/*按钮部分初始不可见*/
.btn{
    display: none;
}
/*按钮形状设计*/
.btn span{
    display: block;
    width: 50px;
    height: 100px;
    background: #3F3D56;
    color: lightgoldenrodyellow;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    cursor:pointer;
}
/*上一个设计*/
.btn .prev{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50px;
}
/*下一个设计*/
.btn .next{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -50px;
}
/*对按钮动态呈现的变换进行类选择器的设计为js代码部分进行铺垫*/
.num .active{
    background-color: lightgoldenrodyellow;
}
.hide{
    display: none;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#divmenu p{
    color: #3F3D56;
}
.display{
    display: none;
    background-color: black;
}
.display ul{
    height: 100%;
}
.display li{
    color:#3F3D56;
    font-size:14px;
    font-weight: bold;
    background-color: black;
    border: 1px solid;
    cursor: help;
}
.movediv{
    position: absolute;
    border:1px solid black;
}
.display li:hover{
    color: white;
}

/*
表格样式
*/
.table {
    margin-top:15px;
    border-collapse:collapse;
    border:1px solid #aaa;
    width:100%;
}
.table th {
    vertical-align:baseline;
    padding:5px 15px 5px 6px;
    background-color:#3F3F3F;
    border:1px solid #3F3F3F;
    text-align:left;
    color:#fff;
}
.table td {
    padding:6px 15px 6px 6px;
    border:1px solid #aaa;
}
.table tr:nth-child(odd) {
    background-color:#F5F5F5;
}
.table tr:nth-child(even) {
    background-color:#fff;
}
.get_color{
    color: #3F3D56;
    background-color: black;
}






/*
    旋转跳跃闭着眼操作
*/
.bounce-in-top {
    -webkit-animation: bounce-in-top 2s ;
    animation: bounce-in-top 2s ;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-15 19:38:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
*{
    background-color: #3F3D56;
}


